@charset "shift_jis";


/*---------------------------------------------------------------------------------------


　　大枠の設定用


---------------------------------------------------------------------------------------*/



/*
------------------------------------------------------------------------------------------*/


	

/*　大外枠
---------------------------------------------------------------------------------------
(BGにimgを使用するときはこちらに指定)
*/

#wrap {
	background:url(../img/body/bg.jpg) repeat-x;


	}




/*　外枠
---------------------------------------------------------------------------------------*/
#container {
	width:870px;
	margin:0px auto
		}



/*　ヘッダー
---------------------------------------------------------------------------------------*/

#header {

	
	}


		/*　親boxの高さを算出：子boxにfloatを使用 */
		#header{
			/*IE6,7用*/
			/*width :880px;		  */
		

		
		
			/*mac IE5用*/
			/*\*/*/
			overflow:hidden;
			/**/
			}
		
		
		/* モダンブラウザ（IE6,7以外） */
		#header:after{
			height:0px;
			visibility:hidden;
			content:".";
			display:block;
			clear:both;
			}
		



/* topicpass パンくず　基本設定
---------------------------------------------------------------------------------------------- */

/*link

#breadlist {
margin: 0px 0 10px 0px		
	
	}
	*/



/* main contents
---------------------------------------------------------------------------------------------- */

#main{
	/*background:url(../img/main/bg_main.jpg) no-repeat;*/
	}


		/*　親boxの高さを算出：子boxにfloatを使用 */
		#main{
			/*IE6,7用*/
			/*width :880px;		  */
		

		
		
			/*mac IE5用*/
			/*\*/*/
			overflow:hidden;
			/**/
			}
		
		
		/* モダンブラウザ（IE6,7以外） */
		#main:after{
			height:0px;
			visibility:hidden;
			content:".";
			display:block;
			clear:both;
			}
		


#main_primary{
	width:660px;
	float:left;
	padding-left:10px;
	}

	#main_primary::after{
				height:0px;
				visibility:hidden;
				content:".";
				display:block;
				clear:both;
				}



#main_secondary{
	width:200px;
	float:right;
	margin-top:15px;
	}
	



	
/*
---------------------------------------------*/
	
	
	
/* footer
---------------------------------------------------------------------------------------------- */

#footer{
	clear:both;
	width:850px;
	margin:0px auto ;
	padding:0px;
	}


	
