@charset "shift_jis";

/* -------------------------------------------------------------
	会社案内用CSS
-----------------------------------------------------------------*/




	h2{
		padding:0px;
		margin:0px;
		}

	h2{
		padding:0px;
		margin:0px;
		}





.h2{ margin:0px;padding:0px}
.h3{ margin:30px 0px 15px 0px;padding:0px}



.h3_box p{line-height:170%; padding:5px 10px 15px 20px }