
@charset "shift_jis";


/*   machintosh IE5.x用 スタイルシート */

@charset "shift_jis";



/*　外枠
---------------------------------------------------------------------------------------*/
#contentswrap{
		overflow:;
		}






/* mainwrap   main patagraph 
---------------------------------------------------------------------------------------------- */

#mainwrap{
	overflow:;
	}




/*　外枠
---------------------------------------------------------------------------------------*/


#footwrap{	
	overflow:;
	}

